<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appleeeee.geekhubgrouplist">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="GH Edgar Khimich"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.HEADSET_PLUG" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="github.com" />
                <data android:scheme="http" android:host="plus.google.com" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.RecyclerViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.UserGitInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.UserGoogleInfoActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>